.search {
  background-image: url("/images/search.svg");
  background-repeat: no-repeat;
  background-position: left 1.5rem top 1.08rem;
  background-size: 1.2rem 1.2rem;
  color: hsl(0, 0%, 52%);
  width: 90%;
  height: 3.375rem;
  padding-left: 4rem;
  padding-right: 0.5rem;
  margin-inline: 5%;
  margin-bottom: 3rem;
  font: inherit;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.search::placeholder {
  font-weight: 300;
}

.backdrop {
  background-color: hsl(0, 0%, 95%);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

/* custom select filter start */

.filter {
  width: 55%;
  margin-left: 5%;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 2;
}

.open,
.closed {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.open > span,
.closed > span {
  color: hsl(200, 15%, 8%);
  font-weight: 600;
}

.open > img,
.closed > img {
  height: 0.8rem;
  width: 1rem;
}

.open > img {
  rotate: 180deg;
}

.options {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 0.4rem 0 0.4rem 0;
  border-radius: 0.5rem;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
}

.options > div {
  color: hsl(200, 15%, 8%);
  font-weight: 600;
  padding: 0.6rem 0.6rem 0.3rem 1rem;
  cursor: pointer;
}

.options > .chosen {
  background-color: hsl(187, 73%, 85%) !important;
}

/* custom select filter end */

@media (hover: hover) {
  .options > div:hover {
    background-color: hsl(0, 0%, 93%);
  }
}
